<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,14}}</string>
                <key>sourceSize</key>
                <string>{200,14}</string>
            </dict>
            <key>blood_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{196,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,10}}</string>
                <key>sourceSize</key>
                <string>{200,14}</string>
            </dict>
            <key>player1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,238},{141,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,133}</string>
            </dict>
            <key>player1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,309},{105,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,133}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>player1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,416},{71,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,128}}</string>
                <key>sourceSize</key>
                <string>{71,128}</string>
            </dict>
            <key>player1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,14},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>player1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,207},{156,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,108}}</string>
                <key>sourceSize</key>
                <string>{156,108}</string>
            </dict>
            <key>player1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,489},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>player1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,317},{44,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,105}}</string>
                <key>sourceSize</key>
                <string>{44,105}</string>
            </dict>
            <key>player1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,327},{55,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,108}}</string>
                <key>sourceSize</key>
                <string>{55,108}</string>
            </dict>
            <key>player1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,487},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>player1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{136,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,109}}</string>
                <key>sourceSize</key>
                <string>{136,109}</string>
            </dict>
            <key>player1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,120},{155,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,107}}</string>
                <key>sourceSize</key>
                <string>{155,107}</string>
            </dict>
            <key>player2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{149,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,133}}</string>
                <key>sourceSize</key>
                <string>{149,133}</string>
            </dict>
            <key>player2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>player2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>player2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>player2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{160,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,101}}</string>
                <key>sourceSize</key>
                <string>{160,101}</string>
            </dict>
            <key>player2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,561},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>player2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,424},{42,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,99}}</string>
                <key>sourceSize</key>
                <string>{42,99}</string>
            </dict>
            <key>player2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,229},{56,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,97}}</string>
                <key>sourceSize</key>
                <string>{56,97}</string>
            </dict>
            <key>player2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,579},{89,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>player2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,296},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{137,94}</string>
            </dict>
            <key>player2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,351},{76,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,131}}</string>
                <key>sourceSize</key>
                <string>{76,131}</string>
            </dict>
            <key>player3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,229},{120,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,133}}</string>
                <key>sourceSize</key>
                <string>{120,133}</string>
            </dict>
            <key>player3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,208},{155,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,99}}</string>
                <key>sourceSize</key>
                <string>{155,99}</string>
            </dict>
            <key>player3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,317},{72,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,131}}</string>
                <key>sourceSize</key>
                <string>{72,131}</string>
            </dict>
            <key>player3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{146,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,130}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>player3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{160,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,104}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>player3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,108},{160,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,98}</string>
            </dict>
            <key>player3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,429},{107,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,94}}</string>
                <key>sourceSize</key>
                <string>{107,94}</string>
            </dict>
            <key>player3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,128},{47,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,97}}</string>
                <key>sourceSize</key>
                <string>{47,97}</string>
            </dict>
            <key>player3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,120},{39,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,97}}</string>
                <key>sourceSize</key>
                <string>{39,97}</string>
            </dict>
            <key>player3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,561},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>player3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,464},{116,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,95}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>player4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,153},{141,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,133}</string>
            </dict>
            <key>player4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,373},{118,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,133}}</string>
                <key>sourceSize</key>
                <string>{118,133}</string>
            </dict>
            <key>player4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,391},{71,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,129}}</string>
                <key>sourceSize</key>
                <string>{71,129}</string>
            </dict>
            <key>player4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{160,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,105}}</string>
                <key>sourceSize</key>
                <string>{160,105}</string>
            </dict>
            <key>player4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,105},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>player4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,429},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>player4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,227},{45,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,98}}</string>
                <key>sourceSize</key>
                <string>{45,98}</string>
            </dict>
            <key>player4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,328},{55,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,97}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>player4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,649},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>player4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,392},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,93}</string>
            </dict>
            <key>player4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,128},{151,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,108}}</string>
                <key>sourceSize</key>
                <string>{151,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:742806c7d3f9582c50cb17a06449e2cb$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
