<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bg_img.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{512,927}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,927}}</string>
                <key>sourceSize</key>
                <string>{512,927}</string>
            </dict>
            <key>login_info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,230},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login_start_game_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,56},{172,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{172,46}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{573,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,178}}</string>
                <key>sourceSize</key>
                <string>{573,178}</string>
            </dict>
            <key>option_bg_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,644},{174,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,69}}</string>
                <key>sourceSize</key>
                <string>{174,69}</string>
            </dict>
            <key>option_exit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{58,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tencentlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d004c458165efc36d60b66bc5c9b6cf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
